{% extends "_layout.html" %}
{% block main_content %}
    <h1>{{ day_str }}</h1>
    <h2>{% if day_str == today %}
        Tänään
    {% else %} {{ day_str }}{% endif %}</h2>
    <h2></h2>
    <ul>
        {% for event in next_events %}
            <li>{{ event["event_time"].strftime("%H:%M")  }} {{ event["pet_name"] }}: {{ event["operation_name"] }} {{ event["title"] }} {{ event["operator"] }}
                {% if event["event_done"] %} {{ event["event_done"] }} {% else %}<a href="/mark_done/{{ event["event_id"] }}">Done</a>{% endif %}</li>
        {% endfor %}
    </ul>
    {% include "insert_event.html" %}
{% endblock %}