{% extends "_layout.html" %}
{% block main_content %}
    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <input name="username" type="text" placeholder="Username" class="form-control">
            <input name="password" type="password" placeholder="Password" class="form-control">
            <p>
                <input type="submit" value="Kirjaudu" class="btn btn-primary ">
              tai <a href="/register">Rekisteröidy</a>
            </p>
        </form>
    </div>
    <div class="login-messages">

    </div>
{% endblock %}