{% extends "_layout.html" %}
{% block main_content %}
    <table>
        <h1>{{ week }}</h1>
        <tr class="cal-head">
            <th class="cal-head">Ma</th>
            <th class="cal-head">Ti</th>
            <th class="cal-head">Ke</th>
            <th class="cal-head">To</th>
            <th class="cal-head">Pe</th>
            <th class="cal-head">La</th>
            <th class="cal-head">Su</th>
        </tr>
        <tbody>
        {% set daycount = namespace(value=1) %}
        <tr>
          {% for i in range(7) %}
              <td><a href="/day/{{ year }}-{%
                      if month < 10 %}0{%
                      endif %}{{ month }}-{%
                      if start_of_week + i < 10 %}0{%
                      endif %}{{ start_of_week + i }}">{{ start_of_week + i }}</a><br />
               {% if events[(month, start_of_week + i)] %}<ul class="cal-event">
                                {% for event in events[(month, start_of_week + i)] %}
                                    <li>{{ event["title"] }}</li>
                                {% endfor %}
                            </ul>{% endif %}</td>
          {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}