{% extends "_layout.html" %}
{% block main_content %}
    <table>
        <h1>{{ week }}</h1>
        <tr class="cal-head">
            <th class="cal-head">Ma</th>
            <th class="cal-head">Ti</th>
            <th class="cal-head">Ke</th>
            <th class="cal-head">To</th>
            <th class="cal-head">Pe</th>
            <th class="cal-head">La</th>
            <th class="cal-head">Su</th>
        </tr>
        <tbody>
        {% set daycount = namespace(value=1) %}
        <tr>
          {% for i in range(7) %}
              {% if start_of_week + i > month_last %}
                  {% set current_date = namespace(day=start_of_week + i - month_last, month=end_month) %}
              {% else %}
                  {% set current_date = namespace(day=start_of_week + i, month=start_month) %}
              {% endif %}
              <td><a href="/day/{{ year }}-{%
                      if current_date["month"] < 10 %}0{%
                      endif %}{{ current_date["month"] }}-{%
                      if current_date["day"] < 10 %}0{%
                      endif %}{{ current_date["day"] }}">{{ current_date["day"] }}</a><br />
               {% if events[(current_date["month"], current_date["day"])] %}<ul class="cal-event">
                                {% for event in events[(current_date["month"], current_date["day"])] %}
                                    <li>{{ event["event_time"].strftime("%H:%M")  }} {{ event["operation_name"] }} {{ event["title"] }}</li>
                                {% endfor %}
                            </ul>{% endif %}</td>
          {% endfor %}
        </tr>
        </tbody>
    </table>
    {% include "insert_event.html" %}
{% endblock %}